/* Body.css */
.body-search-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.body-search-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.body-search-container button {
  padding: 10px 15px;
  border: none;
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.body-search-container button:hover {
  background-color: #e67e00;
}

.body-restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-items: center;
}
