/Chapter1/node_modules
/Chapter1/.parcel-cache
/Chapter1/dist

/Chapter3/node_modules
/Chapter3/.parcel-cache
/Chapter3/dist

/Chapter3/node_modules
/Chapter3/.parcel-cache
/Chapter3/dist

/Chapter4/node_modules
/Chapter4/.parcel-cache
/Chapter4/dist

/Chapter5/.parcel-cache
/Chapter5/dist
/Chapter5/node_modules
/Chapter5/.parcel-cache

/Chapter5/dist
/Chapter5/node_modules
/Chapter5/.parcel-cache

/Chapter6/dist
/Chapter6/node_modules
/Chapter6/.parcel-cache

/Chapter8/dist
/Chapter8/node_modules
/Chapter8/.parcel-cache

Chapter9/.parcel-cache/
Chapter9/dist/
Chapter9/node_modules/

/Chapter10/dist
/Chapter10/node_modules
/Chapter10/.parcel-cache