.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
    height: 100px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
    
    
}
.nav-items > ul>li{
    padding: 10px;
    
}


.card{
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
    

}


.restaurent-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card > img{
    width: 100%;
}


.shimmer{
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}